.header {
  background-color: red;
  height: 100%; /* Nimmt die volle Höhe des <app-header> ein */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
