.header {
  background-color: #002F6C; /* IHK-Blau */
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Inhalt am oberen Rand ausrichten */
  align-items: center;
  padding: 20px;
  color: white;
}

.header h1 {
  margin-top: 0; /* Oberen Abstand entfernen oder reduzieren */
  margin-bottom: 15px; /* Etwas weniger Abstand nach unten */
  font-size: 2em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif
}

.pruefungen {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 5px;
}

.unterthemen {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.unterthemen-label {
  font-weight: bold;
  margin-right: 10px;
}

.button {
  background-color: #ace0e7;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(0.75rem, 1.5vw, 0.95rem);
  transition: background-color 0.3s ease;
  min-width: 140px;
  text-align: center;
}

.button.secondary {
  background-color: transparent;
  color: white;
  border: 1px solid #00bcd4;
}

.button:hover {
  background-color: #0097a7;
}

.button.secondary:hover {
  background-color: #00bcd4;
  color: white;
}
