<div class="header">
  <h1>Lernwebseite für die AP2 von Fachinformatiker/Anwendungsentwicklung</h1>
  <div class="pruefungen">
    <button *ngFor="let p of data?.pruefungen" (click)="setPruefung(p)"
      [ngClass]="{ 'active-button': p.name === statePruefung }" class="button primary">
      {{ p.name }}
    </button>
  </div>

  <div class="unterthemen" *ngIf="aktiveUnterthemen">
    <div class="unterthemen-label">Auswahl:</div>
    <button *ngFor="let ut of aktiveUnterthemen" (click)="setUnterthema(ut)"
      [ngClass]="{ 'active-button': ut.name === stateUnterthema }" class="button secondary">
      {{ ut.name }}
    </button>
  </div>
</div>
