.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f0fff0; /* Ein sehr helles Grün als Hintergrund für die Seite */
}

app-header {
  height: 20%;
  /* Hintergrundfarbe und Textfarbe werden im header.component.css definiert (jetzt Forest Green) */
}

.content-area {
  display: flex;
  flex-grow: 1;
  height: 70%;
}

app-sidebar {
  width: 25%;
  max-width: 350px;
  min-width: 350px;
  background-color: #f8f8f8; /* Heller Grauton für die Sidebar beibehalten */
  border-right: 1px solid #ddd;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
  background-color: white; /* Weiß für den Hauptinhalt */
}

app-footer {
  height: 10%;
  /* Hintergrundfarbe und Textfarbe werden im footer.component.css definiert (wird auch Forest Green) */
  border-top: 1px solid #ddd;
}

/* --- Mobile Anpassungen --- */
@media (max-width: 768px) {
  app-header {
    height: auto; /* Header-Höhe flexibel gestalten */
  }

  .content-area {
    flex-direction: column; /* Content-Area vertikal anordnen */
  }

  app-sidebar {
    width: 100%; /* Sidebar volle Breite */
    min-width: unset; /* Minimale Breite aufheben */
    max-width: unset; /* Maximale Breite aufheben */
    border-right: none;
    height: auto; /* Höhe flexibel, damit der Inhalt passt */
    position: absolute; /* Positionieren, um den Fluss des Hauptinhalts nicht zu stören */
    top: 0; /* Oben positionieren */
    left: -100%; /* Standardmäßig außerhalb des Bildschirms */
    transition: left 0.3s ease-in-out; /* Sanfte Animation beim Ein-/Ausblenden */
    z-index: 999; /* Über dem anderen Inhalt anzeigen */
    background-color: #f8f8f8; /* Hintergrundfarbe für die ausklappbare Sidebar */
    box-shadow: 2px 0 5px rgba(0,0,0,0.2); /* Schatten hinzufügen */
    padding-top: 60px; /* Platz für den Header lassen, falls dieser sticky wird */
  }

  app-sidebar.open {
    left: 0; /* Sidebar einblenden */
  }

  .main-content {
    padding: 10px; /* Weniger Padding auf Mobilgeräten */
  }

  app-footer {
    height: auto; /* Footer-Höhe flexibel */
    padding: 10px; /* Etwas Padding für den Footer */
  }
}
