.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f0fff0; /* Ein sehr helles Grün als Hintergrund für die Seite */
}

app-header {
  height: 20%;
  /* Hintergrundfarbe und Textfarbe werden im header.component.css definiert (jetzt Forest Green) */
}

.content-area {
  display: flex;
  flex-grow: 1;
  height: 70%;
}

app-sidebar {
  width: 25%;
  max-width: 350px;
  min-width: 350px;
  background-color: #f8f8f8; /* Heller Grauton für die Sidebar beibehalten */
  border-right: 1px solid #ddd;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
  background-color: white; /* Weiß für den Hauptinhalt */
}

app-footer {
  height: 10%;
  /* Hintergrundfarbe und Textfarbe werden im footer.component.css definiert (wird auch Forest Green) */
  border-top: 1px solid #ddd;
}
