.sidebar {
  background-color: #f8f8f8; /* Hellerer Hintergrund für die Sidebar */
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Elemente nehmen die volle Breite ein */
}

.sidebar h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.5em;
}

.thema-gruppe {
  margin-bottom: 20px;
  text-align: left;
}

.thema-gruppe h3 {
  color: #555;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: #eee;
  color: #00bcd4; /* Akzentfarbe beim Hover */
}
