.sidebar {
  background-color: #f8f8f8;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.sidebar h2 {
  color: #360684;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.8em;
  font-weight: 700;
  padding: 15px 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;

  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.sidebar h2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-7px);
  color: #4a1c7d;
  background-color: #ffffff;
}

.thema-gruppe {
  margin-bottom: 20px;
  text-align: left;
}

.thema-gruppe h3 {
  color: #555;
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 8px;
}

.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar a:hover {
  background-color: #eee;
  color: #00bcd4;
}

.close-sidebar {
  display: none; /* Standardmäßig ausblenden */
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

/* --- Mobile Anpassungen --- */
@media (max-width: 768px) {
  .close-sidebar {
    display: block; /* Auf Mobilgeräten anzeigen */
    position: absolute; /* Positionierung innerhalb der Sidebar relativ zu .sidebar */
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    color: #333; /* Dunkle Farbe, damit er auf hellem Hintergrund sichtbar ist */
    z-index: 1000; /* Sicherstellen, dass er über dem Inhalt der Sidebar liegt */
  }

  .sidebar-scroll {
    max-height: 100vh; /* Volle Höhe auf Mobilgeräten */
    overflow-y: auto;
  }
}
