html, body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Schriftart hinzufügen */
  color: #333; /* Standard-Textfarbe */
  background-color: #f4f4f4; /* Hintergrundfarbe für die Seite */
  max-width: 1920px;
  margin: 0 auto;
}

*, ::before, ::after {
  box-sizing: inherit;
}
