html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Wichtig für einheitliches Box-Modell */
}

*, ::before, ::after {
  box-sizing: inherit; /* Vererbt box-sizing an alle Elemente */
}
