html, body {
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Schriftart hinzufügen */
  color: #333; /* Standard-Textfarbe */
  background-color: #f4f4f4; /* Hintergrundfarbe für die Seite */
  max-width: 1920px;
  margin: 0 auto;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.active-topic {
  background-color: #d0ebff;
  color: #003366;
  font-weight: bold;
  border-left: 4px solid #007BFF;
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.sidebar-scroll {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

@media (max-width: 768px) {
  html, body {
    font-size: 16px; /* Schriftgröße auf Mobilgeräten etwas erhöhen */
  }
}

/**
@media screen and (max-width: 768px) {
  .content-area {
    flex-direction: column;
    height: auto;
  }

  app-sidebar {
    width: 100%;
    max-width: none;
    min-width: 0;
    order: 2;
    border-right: none;
    border-top: 1px solid #ddd;
  }

  .main-content {
    order: 1;
    padding: 10px;
  }

  app-header, app-footer {
    height: auto;
  }

  .header h1 {
    font-size: 1.2em;
    text-align: center;
  }

  .pruefungen, .unterthemen {
    flex-direction: column;
    gap: 5px;
  }

  .button {
    min-width: unset;
    width: 100%;
    font-size: 1rem;
  }

  .footer {
    flex-direction: column;
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
  }

  .modal-content {
    width: 95%;
  }

  input[type="text"], textarea {
    width: 100%;
    font-size: 1rem;
  }
}

**/
