html, body {
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Schriftart hinzufügen */
  color: #333; /* Standard-Textfarbe */
  background-color: #f4f4f4; /* Hintergrundfarbe für die Seite */
  max-width: 1920px;
  margin: 0 auto;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.active-topic {
  background-color: #d0ebff;
  color: #003366;
  font-weight: bold;
  border-left: 4px solid #007BFF;
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}

.sidebar-scroll {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
